.loading {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  &.data-loading {
    background: rgb(12 13 40 / 51%);
    position: absolute;
    z-index: 100;
    opacity: 0.3;
  }
  &.none {
    display: none;
  }
  .point {
    width: 20px;
    height: 20px;
    background: rgb(0, 0, 0);
    margin: 0 var(--spacing-sm);
    border-radius: 50%;
    animation: load infinite 0.3s alternate;

    @keyframes load {
      from {
        transform: translateY(20px);
      }
      to {
        transform: translateY(0px);
      }
    }
    &.one {
      animation-delay: 0;
    }
    &.two {
      animation-delay: 0.4s;
    }
    &.three {
      animation-delay: 0.5s;
    }
  }
}
