.notfound {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &-title {
    font-size: 70px;
  }
  &-text {
    font-size: 30px;
    font-weight: lighter;
  }
}
