@import "../../app.scss";

header {
  width: 100%;
  border-bottom: 1px solid var(--light-gray);
  .nav {
    width: var(--width-x);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-lg) 0;
    .left {
      .nav-link {
        display: flex;
        align-items: center;
      }
      .nav-icon {
        margin-right: var(--spacing-sm);
      }
      .nav-title {
        font-weight: normal;
        color: var(--dark-blue);

        @include tablet {
          display: none;
        }
      }
    }
    .right {
      .profile {
        display: flex;
        align-items: center;
        &-link {
          display: flex;
          align-items: center;
          margin-right: var(--spacing-lg);
          border-radius: 50%;
          box-shadow: 0 0 2px var(--dark-blue);
          @include mobile {
            margin-right: var(--spacing-sm);
          }
        }
        .dropdown {
          display: flex;
          align-items: center;
          position: relative;

          .dropdown-items {
            position: absolute;
            bottom: -50px;
            height: 3rem;
            width: 100%;
            padding: 5px;
            background: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.315);
            opacity: 0;
            pointer-events: none;
            transition: all 0.3 ease-out;
            transform: translateY(100px);

            &.active {
              opacity: 1;
              pointer-events: all;
              transform: translateY(0px);
            }
            .logout-form {
              .logout-btn {
                width: 100%;
                padding: 6px;
                background: #000;
                border: none;
                color: white;
                font-size: large;
                cursor: pointer;
              }
            }
          }
          .profile-img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 100%;
          }

          .profile-text {
            color: var(--dark-gray);
            font-weight: bold;
            margin-left: var(--spacing-sm);
            @include mobile {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
