.sprint {
  height: calc(100vh - 91px);
  .top {
    height: 25%;
    .wrapper {
      width: var(--width-x);
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      .sprint-infos {
        flex: 3;
        &_updated {
          font-weight: lighter;
          font-size: 14px;
          margin-bottom: 5px;
          strong {
            color: var(--dark-blue);
          }
        }
        &_title {
          font-size: 45px;
          color: var(--dark-blue);
        }
        .add-task-title {
          margin-bottom: 5px;
        }
        .add-btn {
          background: none;
          color: var(--dark-purple);
          border: 1px solid var(--dark-purple);
          margin-top: 5px;
          padding: 2px;
          cursor: pointer;
        }
        .add-task-form {
          display: flex;
          align-items: center;
          .add-task-input {
            height: 40px;
            outline: none;
            border: none;
            border-bottom: 1px solid black;
            margin-right: 10px;
          }
          .add-task-btn {
            height: 40px;
            padding: 0 8px;
            margin-left: 20px;
            background: var(--dark-blue);
            border-radius: 10px;
            border: none;
            color: var(--white);
            cursor: pointer;
          }
          select {
            height: 40px;
          }
        }
      }
      .sprint-action {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        .sprint-action-link {
          margin-top: var(--spacing-sm);
          color: var(--light-gray);
          font-weight: lighter;
          .sprint-action-text {
            strong {
              color: var(--dark-purple);
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .bottom {
    background: var(--light-blue);
    height: 75%;
    overflow-y: scroll;
    display: flex;
    padding-top: var(--spacing-lg);
    .list {
      width: var(--width-x);
      margin: auto;
      height: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}
