*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/***GLOBAL VARIABLE***/
:root {
  /**COLORS**/
  --white: #fff;

  --dark-blue: #0b1c32;
  --mid-blue: #3eccfe;
  --light-blue: #f3fbff;

  --dark-rose: #d758e3;
  --light-rose: #b983d2;

  --dark-purple: #9086dd;

  --dark-yellow: #fdba36;
  --light-yellow: #ffeeb3;

  --dark-green: #49c892;
  --light-green: #97d2ba;

  --dark-gray: #3c4550;
  --mid-gray: #8b939a;
  --light-gray: #bbbfc0;
  --extralight-gray: #f1f1f1;

  /**NAVBAR**/
  --spacing-sm: 10px;
  --spacing-lg: 20px;
  --spacing-xl: 30px;

  --width-x: 80%;

  --shadow-xsm: 0 0 10px rgba(0, 0, 0, 0.164);
  --shadow-sm: 0 0 10px rgba(0, 0, 0, 0.418);
  --shadow-lg: 0 0 20px rgba(0, 0, 0, 0.589);
}

body {
  font-family: "Urbanist", sans-serif;
}

/**GLOBAL STYLE**/
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 425px) {
    @content;
  }
}
